.runchart {
  .runchart-main-view {
    .runchart-details {

    }

    .runchart-buttons {
      position: relative;
      margin: auto;
      width: 90%;

      .button-list {

        .runchart-button {
          background-color: #1E1E1E;
          color: #fff;
          //flex: 0 0 20%;
          padding: 20px 0;
          //margin: 0 20px;
        }
      }
    }

    .runchart-slide {
      display: flex;

      .left {
        flex: 0 0 20%;
      }
      .right {
        flex: 0 0 70%;
      }
    }
  }
}
