@import 'mixins.scss';


.runchart {
  //GENERAL
  .border {
    border-top: 1px solid #D42F44;
  }

  .runchart-main-view {
    padding: 30px 0;
    //info area on top - collapsable
    .runchart-details {
      position: relative;
      width: 95%;
      padding: 0 15px;
      margin: 0 auto 30px;
      background-color: #F1EEEE;
      border: 1px solid $white;

      .toggle-me-btn {
        position: absolute;
        top: 12px;
        right: 10px;
        color: $black;
        background: transparent;
        border: none;
        padding: 10px;
        .icon {
          width: 15px;
          height: 15px;
        }
      }

      h1, h2, h3 {
        font-size: 20px;
        display: inline-block;
      }

      span {
        font-size: 20px;
        font-weight: 700;
        display: inline-block;
      }

      .details-top {
        &.flex-container {
          .flex {
            flex: 0 0 50%;
            text-align: left;
          }
        }
      }
      .details-middle {
        .value-list {
          padding: 0;
          margin: 0;
          list-style: none;
          &.flex-container {
            justify-content: space-between;
            align-items: center;
            .flex {
              //flex: 0 0 auto;
              text-align: left;

            }
          }
        }
      }
      .details-bottom {
        &.flex-container {
          justify-content: space-between;
          .flex {
            flex: 0 0 30%;
            text-align: left;
          }
        }
      }
    }

    //hooper slider - navigation for runchart features
    .runchart-buttons {
      position: relative;
      margin: auto;
      width: 98%;

      .button-list {
        height: 75px;
        //hooper stuff
        .hooper {
          height: 75px;
          .hooper-list {
            .hooper-navigation {
              &.hooper-prev,
              &.hooper-next {
                background-color: #a90c21;
              }
            }
            .hooper-track {

            }
          }
        }

        .runchart-button {
          width: 100%;
          div {
            //structure
            display: flex;
            align-items: center;
            justify-content: center;
            //general styling
            margin: auto;
            background-color: $white;
            color: $black;
            padding: 20px 0;
            width: 80%;
            height: 75px;
            transition: background-color 300ms ease, color 300ms ease;
          }
          //hooper stuff
          &.is-current {
            div {
              background-color: $black;
              color: $white;
              transition: background-color 300ms ease, color 300ms ease;
            }
          }
        }
      }
    }

    //hooper slider - informational portion of runchart features
    .carousel-container {
      width: 95%;
      margin: 30px auto;
      //hooper stuff
      .hooper {
        height: auto;
      }

      .slide {
        //structure
        display: flex;
        justify-content: space-around;
        align-items: center;
        //general styling
        color: #999;
        font-size: 1.5rem;

        .left, .right {
          border: 1px solid $white;
          height: 100%;
          min-height: 200px;
          h2, span {
            color: #1E1E1E;
          }
        }

        .left {
          padding: 15px;
          text-align: left;
          flex: 0 0 20%;
          &.feature-details {
            h2 {
              font-size: 18px;
            }
            p {
              color: #1E1E1E;
              font-size: 16px;
              text-transform: lowercase;
            }
            .feature-detail {
              h3, span {
                display: inline-block;
              }
              h3 {
                font-size: 18px;
              }
              span {
                color: #1E1E1E;
                font-size: 18px;
              }
            }
          }
        }
        .right {
          flex: 0 0 70%;

          .icon {
            width: 60px;
            height: auto;
          }
          .feature-info {
            .content-header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 20px;
              .runchart-header {

              }
              .input-container {
                input, select {
                  border-radius: 5px;
                  min-height: 35px;
                  border: none;
                  background: #dedede;
                  padding: 0 10px;
                  min-width: 175px;
                  margin-right: 15px;
                }
                .runchart-add-btn {
                  min-height: 35px;
                  border-radius: 20em;
                  border: none;
                  min-width: 175px;
                  background: #a90c21;
                  color: #dedede;
                  font-weight: 700;
                  text-transform: uppercase;
                  cursor: pointer;
                  transition: background 300ms ease;
                  &:hover {
                    background: #D42F44;

                  }
                }
                .info-tooltip {
                  margin-right: 20px;
                  position: relative;
                  top: 6px;
                }
              }
            }
            .pass-fail-grid {
              margin: auto 20px 30px;
              display: flex;
              flex-direction: row-reverse;
              justify-content: space-between;
              background: #dedede;
              .grid {
                width: 100%;
                position: relative;
                .grid-date {
                  font-size: 18px;
                  color: #a90c21;
                }
                .sr-only {
                  //screen reader only
                  display: none;
                }
                .pass {
                  width: 50px;
                  height: 50px;
                }
                .fail {
                  width: 40px;
                  height: 40px;
                }
                .hidden-details {
                  display: none;
                }
                &::after {
                  content: '';
                  background: black;
                  width: 1px;
                  height: 100%;
                  position: absolute;
                  right: 0;
                  top: 0;
                }
                &:first-of-type {
                  &::after {
                    display: none;
                  }
                }
              }
            }
            .graph-container {
              .runchart-graph {
                min-height: 200px;
              }
            }
          }
        }
      }
    }
  }

  //tablet
  @media (min-width: 500px) and (max-width: 1299px) {
    .runchart-main-view {
      padding: 15px 0;
      //info area on top - collapsable
      .runchart-details {
        margin-bottom: 15px;
        h1, h2, h3 {
          font-size: 16px;
        }
        span {
          font-size: 16px;
          font-weight: 700;
        }
        .details-top {

        }
        .details-middle {
          .value-list {

          }
        }
        .details-bottom {

        }
      }

      //hooper slider - navigation for runchart features
      .runchart-buttons {
        .button-list {
          height: 50px;
          .hooper {
            height: 50px;
          }
          .runchart-button {
            div {
              padding: 10px 0;
              height: 50px;
            }
          }
        }
      }

      //hooper slider - informational portion of runchart features
      .carousel-container {
        margin-top: 15px;
        //hooper stuff
        .slide {
          .left {
            padding: 15px;
            &.feature-details {
              h2 {
                font-size: 18px;
              }
              p {
                font-size: 16px;
              }
              .feature-detail {
                h3 {
                  font-size: 18px;
                }
                span {
                  font-size: 18px;
                }
              }
            }
          }
          .right {

          }
        }
      }
    }
  }

  //desktop
  @media (min-width: 1300px) {
    .runchart-main-view {
      padding: 30px 0;
      //info area on top - collapsable
      .runchart-details {
        margin-bottom: 30px;
        h1, h2, h3 {
          font-size: 20px;
        }
        span {
          font-size: 20px;
          font-weight: 700;
        }
        .details-top {

        }
        .details-middle {
          .value-list {

          }
        }
        .details-bottom {

        }
      }

      //hooper slider - navigation for runchart features
      .runchart-buttons {
        .button-list {
          .runchart-button {
            div {
              padding: 20px 0;
              height: 75px;
            }
          }
        }
      }

      //hooper slider - informational portion of runchart features
      .carousel-container {
        //hooper stuff
        .slide {
          .left {
            padding: 15px;
            &.feature-details {
              h2 {
                font-size: 18px;
              }
              p {
                font-size: 16px;
              }
              .feature-detail {
                h3 {
                  font-size: 18px;
                }
                span {
                  font-size: 18px;
                }
              }
            }
          }
          .right {

          }
        }
      }
    }
  }
}
